// Color
$cl_white: #ffffff;
$cl_snow: #f9f9f9;
$cl_dark_gray_1: #acacac;
$cl_gimblet: #bdaa66; // Hover btn color
$cl_contessa: #c86966;
$cl_snow_1: #fafafa;
$cl_black: #000000;
$cl_nero: #1f1f1f;
$cl_gainsboro: #dbdbdb;
$cl_dark_gray_1: #acacac;
$cl_contessa: #c86966;
$cl_dim_gray: #616161;
$cl_white_smoke: #f5f5f5;
$cl_dark_gray_1: #acacac;
$cl_white_smoke2: #f3f3f3;
$cl_yuma: #c6b67e;
$cl_dark_gray: #a6a6a6;
$cl_gimblet: #bdaa66;
$cl_atlantis: #96b444;
$cl_denim: #2866c3;
$cl_white_smoke_3: #f0f0f0;
$cl_whisper: #e7e7e7;

// Breakpoint
$md: 767px;
$sm: 575px;
$xl: 1139px;
