@import '../utils/variable';

.color-gainsboro {
    color: $cl_gainsboro;
}

.color-nero {
    color: $cl_nero;
}

.color-contessa {
    color: $cl_contessa;
}

.color-dim-gray {
    color: $cl_dim_gray;
}

.color-yuma {
    color: $cl_yuma;
}

.color-white {
    color: $cl_white;
}

.color-atlantis {
    color: $cl_atlantis;
}

.color-denim {
    color: $cl_denim;
}

.color-dark-gray-1 {
    color: $cl_dark_gray_1;
}

.color-black {
    color: $cl_black;
}

.color-snow-1 {
    color: $cl_snow_1;
}
