@import 'src/scss/utils/variable';
.ant-steps-item-custom.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: $cl_gimblet !important;
}
.step {
  font-size: 40px;
  border-radius: 50%;
  border: 2px solid $cl_gimblet;
  padding: 2px;
}
.user-step {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $cl_gimblet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.steps {
  width: 30%;
  padding-bottom: 20px;
  @media screen and (max-width: $sm) {
    width: 100%;
}
}
