@import '../../../scss/utils/variable';

.design-custom {
    .model-preview {
        height: 600px;
        background-color: $cl_snow_1;
    }
    .btn-utils-wrapper {
        bottom: 20px;
        left: 20px;
        z-index: 1;
        .btn-utils {
            background-color: transparent;
            border: none;
        }
    }
    .select-part {
        height: 40px;
        max-width: 425px;
        width: 100%;
        .ant-select-selector {
            padding: 0 20px !important;
            height: 100% !important;
            border: 1px solid $cl_nero !important;
            border-radius: 0 !important;
            input {
                height: 100%;
            }
            .ant-select-selection-item {
                line-height: 40px;
                text-transform: uppercase;
            }
        }
        .ant-select-arrow {
            width: auto;
            margin-top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            top: 0;
            right: 15px;
        }
    }
    .color-list {
        max-width: 400px;
    }
    .design-custom-status {
        z-index: 2;
        left: 0;
        bottom: 0;
        height: 100px;
        background: $cl_white;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
        .texture-status {
            padding: 25px 0;
            .texture-status-item {
                padding: 0 10px;
                width: 100px;
                border-right: 1px solid $cl_whisper;
            }
        }
        .result {
            padding: 10px 0;
            .btn-open-more {
                height: 50px;
            }
        }
    }
}
