@import 'src/scss/utils/variable';

.fp2 {
    padding: 56px 0px 30px;

    .fp2-title {
        line-height: 24px;
    }

    .fp2-subtitle {
        line-height: 20px;
        max-width: 329px;
    }

    .fp2-img {
        display: inline-block;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .fp2 {
        .fp2-form {
            padding: 0px 50px;
        }
    }
}
