@import 'src/scss/utils/variable';

.fp {
    padding: 56px 0px 30px;

    .fp-title {
        line-height: 24px;
    }

    .fp-subtitle {
        line-height: 20px;
        max-width: 329px;
    }

    .fp-form {
        padding: 0px 108px;

        .fp-label {
            margin-bottom: 16px;
        }

        .fp-input {
            border: none;
            border-bottom: 1px solid $cl_nero;

            padding-bottom: 10px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $cl_dark_gray_1;
                font-size: 16px;
                line-height: 24px;
            }
        }

        .fp-btn {
            line-height: 20px;

            min-height: 40px;
            min-width: 230px;
            margin: 30px 0px 32px;

            background-color: $cl_yuma;
            border: none;

            transition: all 0.35s ease 0s;

            &:hover {
                background-color: $cl_gimblet;
            }
        }
    }
}

@media (max-width: 768px) {
    .fp {
        .fp-form {
            padding: 0px 50px;
        }
    }
}
