@import 'src/scss/utils/variable';

.news-letter {
  background-color: $cl_snow_1;

  .news-letter-subtitle {
      font-size: 36px;
  }

  .news-letter-form {
      min-width: 474px;
      min-height: 50px;

      @media (max-width: 575.98px) {
          min-width: 300px;
      }

      input {
          border: 1px solid $cl_nero;
          height: 50px;
          padding: 0px 148px 0px 18px;

          &:focus {
              outline: none;
          }
      }

      .news-letter-btn {
          top: 1px;
          right: 1px;

          border: none;
          background-color: $cl_yuma;

          min-height: 48px;
          min-width: 130px;

          &:focus {
              outline: none;
          }
      }
  }
}

.footer {
  background-color: $cl_nero;

  &-wrapper {
    .footer_logo {
      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 60px;
      }

      &-text {
        line-height: 18px;
        cursor: default;
      }
    }

    .footer_nav {
      &-title {
        line-height: 20px;
      }
      &-item {
        color: $cl_dark_gray_1 !important;
        line-height: 20px;
      }
    }

    .footer_support {
      &-title {
        line-height: 20px;
      }
      &-item {
        color: $cl_dark_gray_1 !important;
        line-height: 20px;
      }
    }

    .footer_social {
      &-title {
        line-height: 20px;
      }
    }
  }

  &_copy-right {
    color: $cl_dark_gray_1 !important;
    line-height: 18px;
  }
}